@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Fraunces', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #E0E0E0;
}

::-webkit-scrollbar-thumb {
  background-color: #51a09b99; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F8178;
}


* {
  box-sizing: border-box;
}

#root, .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border-radius: 50px;
  font-family: 'Fraunces', Arial, sans-serif; /* Apply Fraunces font to all buttons */
}

.tooltip {
  background-color: gray;
}


